
.divContenedorCart{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}

.divContenedorDos{
    display: flex;
    align-items: center;
    flex-direction: column; 
    margin: 2.1rem;
    padding: 1rem;
}

#btnCart{
    font-size: 1.3rem;
    margin-top: 1rem;
}

