@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

header{
    background-color: #454546;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    font-family: 'Righteous', sans-serif;

}

li {
    color: #EEEEEE;
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
    font-family: 'Righteous', sans-serif;
    font-size: 1.8rem;
}

h1 {
    margin-left: 1rem;
    color: #EEEEEE;
}

li:hover {
    color:#ffff56;

}

.aMenu{
    font-size: 2rem;
}
