body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color: #454546;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    color: #EEEEEE;
    display: inline-block;
    margin: 1.5rem;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

h1 {
    margin-left: 1rem;
    color: #EEEEEE;
}

li:hover {
    color:#ffff56;

}