


.divCard{
    width: 20rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h3{
    font-family: 'Righteous', sans-serif;
    color: rgba(57, 57, 57, 0.98);
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-top: -1rem;
  }


.imgCard{
    width: 8rem;
}